// Project Variables


// Base Colors
$light-grey: #999;
$grey: #555;
$dark-grey: #111;


// Global Colors
$primary: $light-grey;
$secondary: $grey;
$tertiary: $dark-grey;


// Other Global Variables
$variable: 'value';