<div data-role="page" id="signup" class="signup slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-4 small-offset-2 column border-divider">
				<h1>Which Test Won?</h1>
			</div>
			<div class="small-4 small-pull-2 column">
				<form class="signup-form js-signup-form" method="POST" data-ajax="false">
					<input type="text" name="first-name" ng-model="formData.FirstName" value="" placeholder="First Name" data-role="none">
					<input type="text" name="last-name" ng-model="formData.LastName" value="" placeholder="Last Name" data-role="none">
					<input type="email" name="email-address" ng-model="formData.Email" value="" placeholder="Email Address" data-role="none">
					<input type="submit" class="signup-submit" value="Get Started" ng-click="login()" data-role="none">
				</form>
			</div>
		</div>
	</div>
</div>