<!-- SLIDE 1: VERIZON VIDEO BKG TEST -->
<div data-role="page" id="slide1" class="intro-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 column border-divider title">
				<h2>Verizon Video Test Experience</h2>
			</div>
			<div class="small-6 column brief-description">
				<p>A brief description about the test and its intended objectives will go here. This is dummy text, obviously.</p>
				<div class="row">
					<div class="small-8 small-push-3">
						<a href="#slide2" data-transition="slide" data-next-slide="#slide3" data-second-slide="#slide4" class="button js-start-video-slide">Continue <span></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /page -->

<!-- FULL-WIDTH SCREENSHOT 1 -->
<div data-role="page" id="slide2" class="screen-shot-full js-full-first slide-template">
	<video width="1024" height="720" autoplay loop>
		<source src="/assets/videos/verizon-video-test.mp4" type="video/mp4"></source>
	</video>
</div>

<!-- FULL-WIDTH SCREENSHOT 2 -->
<div data-role="page" id="slide3" class="screen-shot-full js-full-second slide-template">
	<img src="/assets/images/full-screen/full-screen-verizon-slide-1-control.jpg" width="1024" height="768" alt="">
</div>

<div data-role="page" id="slide4" class="vote-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 small-centered column">
				<h4>Which Test Won?</h4>
			</div>
		</div>
		<div class="row vote-wrap">
			<div class="small-6 column left-vote">
				<a href="#slide5" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-verizon-slide-1-test.jpg" width="470" height="360" alt="" data-choice="1" data-next-slide="#slide5"></a>
			</div>
			<div class="small-6 column right-vote">
				<a href="#slide5" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-verizon-slide-1-control.jpg" width="470" height="360" alt="" data-choice="2" data-next-slide="#slide5"></a>
			</div>
		</div>
		<div class="row">
			<div class="small-2 right question-tracker">
				Question <span>1/12</span>
			</div>
		</div>
	</div>
</div>

<!-- SLIDE 2: VONAGE TEST -->
<div data-role="page" id="slide5" class="intro-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 column border-divider title">
				<h2>Vonage Interactive Hero Test</h2>
			</div>
			<div class="small-6 column brief-description">
				<p>A brief description about the test and its intended objectives will go here. This is dummy text, obviously.</p>
				<div class="row">
					<div class="small-8 small-push-3">
						<a href="#slide6" data-transition="slide" data-next-slide="#slide7" data-second-slide="#slide8" class="button js-start-auto-slides">Continue <span></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /page -->

<!-- FULL-WIDTH SCREENSHOT 1 -->
<div data-role="page" id="slide6" class="screen-shot-full js-full-first slide-template">
	<img src="/assets/images/full-screen/full-screen-vonage-slide-2-control.jpg" width="1024" height="768" alt="">
</div>

<!-- FULL-WIDTH SCREENSHOT 2 -->
<div data-role="page" id="slide7" class="screen-shot-full js-full-second slide-template">
	<img src="/assets/images/full-screen/full-screen-vonage-slide-2-test.jpg" width="1024" height="768" alt="">
</div>

<div data-role="page" id="slide8" class="vote-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 small-centered column">
				<h4>Which Test Won?</h4>
			</div>
		</div>
		<div class="row vote-wrap">
			<div class="small-6 column left-vote">
				<a href="#slide9" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-vonage-slide-2-control.jpg" width="470" height="360" alt="" data-choice="1" data-next-slide="#slide9"></a>
			</div>
			<div class="small-6 column right-vote">
				<a href="#slide9" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-vonage-slide-2-test.jpg" width="470" height="360" alt="" data-choice="2" data-next-slide="#slide9"></a>
			</div>
		</div>
		<div class="row">
			<div class="small-2 right question-tracker">
				Question <span>2/12</span>
			</div>
		</div>
	</div>
</div>

<!-- SLIDE 3: DTV REDESIGN -->
<div data-role="page" id="slide9" class="intro-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 column border-divider title">
				<h2>DTV Site Redesign</h2>
			</div>
			<div class="small-6 column brief-description">
				<p>A brief description about the test and its intended objectives will go here. This is dummy text, obviously.</p>
				<div class="row">
					<div class="small-8 small-push-3">
						<a href="#slide10" data-transition="slide" data-next-slide="#slide11" data-second-slide="#slide12" class="button js-start-auto-slides">Continue <span></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /page -->

<!-- FULL-WIDTH SCREENSHOT 1 -->
<div data-role="page" id="slide10" class="screen-shot-full js-full-first slide-template">
	<img src="/assets/images/full-screen/full-screen-dtv-slide-3-control.jpg" width="1024" height="768" alt="">
</div>

<!-- FULL-WIDTH SCREENSHOT 2 -->
<div data-role="page" id="slide11" class="screen-shot-full js-full-second slide-template">
	<img src="/assets/images/full-screen/full-screen-dtv-slide-3-test.jpg" width="1024" height="768" alt="">
</div>

<div data-role="page" id="slide12" class="vote-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 small-centered column">
				<h4>Which Test Won?</h4>
			</div>
		</div>
		<div class="row vote-wrap">
			<div class="small-6 column left-vote">
				<a href="#slide5" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-dtv-slide-3-control.jpg" width="470" height="360" alt="" data-choice="2" data-next-slide="#slide13"></a>
			</div>
			<div class="small-6 column right-vote">
				<a href="#slide5" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-dtv-slide-3-test.jpg" width="470" height="360" alt="" data-choice="1" data-next-slide="#slide13"></a>
			</div>
		</div>
		<div class="row">
			<div class="small-2 right question-tracker">
				Question <span>3/12</span>
			</div>
		</div>
	</div>
</div>

<!-- SLIDE 4: JUST ENERGY REDESIGN -->
<div data-role="page" id="slide13" class="intro-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 column border-divider title">
				<h2>Just Energy Redesign</h2>
			</div>
			<div class="small-6 column brief-description">
				<p>A brief description about the test and its intended objectives will go here. This is dummy text, obviously.</p>
				<div class="row">
					<div class="small-8 small-push-3">
						<a href="#slide14" data-transition="slide" data-next-slide="#slide15" data-second-slide="#slide16" class="button js-start-auto-slides">Continue <span></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /page -->

<!-- FULL-WIDTH SCREENSHOT 1 -->
<div data-role="page" id="slide14" class="screen-shot-full js-full-first slide-template">
	<img src="/assets/images/full-screen/full-screen-je-slide-4-control.jpg" width="1024" height="768" alt="">
</div>

<!-- FULL-WIDTH SCREENSHOT 2 -->
<div data-role="page" id="slide15" class="screen-shot-full js-full-second slide-template">
	<img src="/assets/images/full-screen/full-screen-je-slide-4-test.jpg" width="1024" height="768" alt="">
</div>

<div data-role="page" id="slide16" class="vote-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 small-centered column">
				<h4>Which Test Won?</h4>
			</div>
		</div>
		<div class="row vote-wrap">
			<div class="small-6 column left-vote">
				<a href="#slide5" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-je-slide-4-control.jpg" width="470" height="360" alt="" data-choice="2" data-next-slide="#slide17"></a>
			</div>
			<div class="small-6 column right-vote">
				<a href="#slide5" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-je-slide-4-test.jpg" width="470" height="360" alt="" data-choice="1" data-next-slide="#slide17"></a>
			</div>
		</div>
		<div class="row">
			<div class="small-2 right question-tracker">
				Question <span>4/12</span>
			</div>
		</div>
	</div>
</div>

<!-- SLIDE 5: ATT PRICING GRID -->
<div data-role="page" id="slide17" class="intro-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 column border-divider title">
				<h2>AT&amp;T<br> Pricing Grid</h2>
			</div>
			<div class="small-6 column brief-description">
				<p>A brief description about the test and its intended objectives will go here. This is dummy text, obviously.</p>
				<div class="row">
					<div class="small-8 small-push-3">
						<a href="#slide18" data-transition="slide" data-next-slide="#slide19" data-second-slide="#slide20" class="button js-start-auto-slides">Continue <span></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /page -->

<!-- FULL-WIDTH SCREENSHOT 1 -->
<div data-role="page" id="slide18" class="screen-shot-full js-full-first slide-template">
	<img src="/assets/images/full-screen/full-screen-att-slide-5-control.jpg" width="1024" height="768" alt="">
</div>

<!-- FULL-WIDTH SCREENSHOT 2 -->
<div data-role="page" id="slide19" class="screen-shot-full js-full-second slide-template">
	<img src="/assets/images/full-screen/full-screen-att-slide-5-test.jpg" width="1024" height="768" alt="">
</div>

<div data-role="page" id="slide20" class="vote-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 small-centered column">
				<h4>Which Test Won?</h4>
			</div>
		</div>
		<div class="row vote-wrap">
			<div class="small-6 column left-vote">
				<a href="#slide21" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-att-slide-5-control.jpg" width="470" height="360" alt="" data-choice="1" data-next-slide="#slide21"></a>
			</div>
			<div class="small-6 column right-vote">
				<a href="#slide21" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-att-slide-5-test.jpg" width="470" height="360" alt="" data-choice="2" data-next-slide="#slide21"></a>
			</div>
		</div>
		<div class="row">
			<div class="small-2 right question-tracker">
				Question <span>5/12</span>
			</div>
		</div>
	</div>
</div>

<!-- SLIDE 6: SAFECO TYPING TEST -->
<div data-role="page" id="slide21" class="intro-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 column border-divider title">
				<h2>Safeco Dynamic Typing Test</h2>
			</div>
			<div class="small-6 column brief-description">
				<p>We wanted to test the use of multiple value propositions in the headline without increasing the amount of space the headline occupied. To do this, we used typer.js.</p>
				<div class="row">
					<div class="small-8 small-push-3">
						<a href="#slide22" data-transition="slide" data-next-slide="#slide23" data-second-slide="#slide24" class="button js-start-video-slide">Continue <span></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /page -->

<!-- FULL-WIDTH SCREENSHOT 1 -->
<div data-role="page" id="slide22" class="screen-shot-full js-full-first slide-template">
	<video width="1024" height="720" autoplay loop>
		<source src="/assets/videos/safeco-video-test.mp4" type="video/mp4"></source>
	</video>
</div>

<!-- FULL-WIDTH SCREENSHOT 2 -->
<div data-role="page" id="slide23" class="screen-shot-full js-full-second slide-template">
	<img src="/assets/images/full-screen/full-screen-safeco-slide-6-control.jpg" width="1024" height="768" alt="">
</div>

<div data-role="page" id="slide24" class="vote-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 small-centered column">
				<h4>Which Test Won?</h4>
			</div>
		</div>
		<div class="row vote-wrap">
			<div class="small-6 column left-vote">
				<a href="#slid25" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-safeco-slide-6-test.jpg" width="470" height="360" alt="" data-choice="1" data-next-slide="#slide25"></a>
			</div>
			<div class="small-6 column right-vote">
				<a href="#slide25" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-safeco-slide-6-control.jpg" width="470" height="360" alt="" data-choice="2" data-next-slide="#slide25"></a>
			</div>
		</div>
		<div class="row">
			<div class="small-2 right question-tracker">
				Question <span>6/12</span>
			</div>
		</div>
	</div>
</div>

<!-- SLIDE 7: VERIZON PARALLAX TEST -->
<div data-role="page" id="slide25" class="intro-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 column border-divider title">
				<h2>Verizon Parallax Hero Test</h2>
			</div>
			<div class="small-6 column brief-description">
				<p>A brief description about the test and its intended objectives will go here. This is dummy text, obviously.</p>
				<div class="row">
					<div class="small-8 small-push-3">
						<a href="#slide26" data-transition="slide" data-next-slide="#slide27" data-second-slide="#slide28" class="button js-start-video-slide">Continue <span></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /page -->

<!-- FULL-WIDTH SCREENSHOT 1 -->
<div data-role="page" id="slide26" class="screen-shot-full js-full-first slide-template">
	<video width="1024" height="720" autoplay loop>
		<!-- <source src="/assets/videos/safeco-video-test.mp4" type="video/mp4"></source> -->
	</video>
</div>

<!-- FULL-WIDTH SCREENSHOT 2 -->
<div data-role="page" id="slide27" class="screen-shot-full js-full-second slide-template">
	<img src="/assets/images/full-screen/full-screen-verizon-slide-7-control.jpg" width="1024" height="768" alt="">
</div>

<div data-role="page" id="slide28" class="vote-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 small-centered column">
				<h4>Which Test Won?</h4>
			</div>
		</div>
		<div class="row vote-wrap">
			<div class="small-6 column left-vote">
				<a href="#slide29" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-verizon-slide-7-test.jpg" width="470" height="360" alt="" data-choice="1" data-next-slide="#slide29"></a>
			</div>
			<div class="small-6 column right-vote">
				<a href="#slide29" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-verizon-slide-7-control.jpg" width="470" height="360" alt="" data-choice="2" data-next-slide="#slide29"></a>
			</div>
		</div>
		<div class="row">
			<div class="small-2 right question-tracker">
				Question <span>7/12</span>
			</div>
		</div>
	</div>
</div>

<!-- SLIDE 8: ENERGY CHAT TEST -->
<div data-role="page" id="slide29" class="intro-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 column border-divider title">
				<h2>Texas Electricity Rates Chat</h2>
			</div>
			<div class="small-6 column brief-description">
				<p>A brief description about the test and its intended objectives will go here. This is dummy text, obviously.</p>
				<div class="row">
					<div class="small-8 small-push-3">
						<a href="#slide30" data-transition="slide" data-next-slide="#slide31" data-second-slide="#slide32" class="button js-start-auto-slides">Continue <span></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /page -->

<!-- FULL-WIDTH SCREENSHOT 1 -->
<div data-role="page" id="slide30" class="screen-shot-full js-full-first slide-template">
	<img src="/assets/images/full-screen/full-screen-je-slide-8-control.jpg" width="1024" height="768" alt="">
</div>

<!-- FULL-WIDTH SCREENSHOT 2 -->
<div data-role="page" id="slide31" class="screen-shot-full js-full-second slide-template">
	<img src="/assets/images/full-screen/full-screen-je-slide-8-test.jpg" width="1024" height="768" alt="">
</div>

<div data-role="page" id="slide32" class="vote-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 small-centered column">
				<h4>Which Test Won?</h4>
			</div>
		</div>
		<div class="row vote-wrap">
			<div class="small-6 column left-vote">
				<a href="#slide33" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-je-slide-8-control.jpg" width="470" height="360" alt="" data-choice="1" data-next-slide="#slide33"></a>
			</div>
			<div class="small-6 column right-vote">
				<a href="#slide33" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-je-slide-8-test.jpg" width="470" height="360" alt="" data-choice="2" data-next-slide="#slide33"></a>
			</div>
		</div>
		<div class="row">
			<div class="small-2 right question-tracker">
				Question <span>8/12</span>
			</div>
		</div>
	</div>
</div>

<!-- SLIDE 9: ATT MOBILE EXPERIENCE -->
<div data-role="page" id="slide33" class="intro-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 column border-divider title">
				<h2>AT&amp;T Mobile Experience</h2>
			</div>
			<div class="small-6 column brief-description">
				<p>A brief description about the test and its intended objectives will go here. This is dummy text, obviously.</p>
				<div class="row">
					<div class="small-8 small-push-3">
						<a href="#slide34" data-transition="slide" data-next-slide="#slide35" data-second-slide="#slide36" class="button js-start-auto-slides">Continue <span></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /page -->

<!-- FULL-WIDTH SCREENSHOT :: MOBILE CHOICE 1 -->
<div data-role="page" id="slide34" class="screen-shot-full js-full-first slide-template">
	<div class="row">
		<img src="/assets/images/full-screen/full-screen-att-slide-9-control.jpg" alt="">			
	</div>
</div>

<!-- FULL-WIDTH SCREENSHOT :: MOBILE CHOICE 2 -->
<div data-role="page" id="slide35" class="screen-shot-full js-full-first slide-template">
	<div class="row">
		<div class="small-11 small-centered column">
			<img src="/assets/images/full-screen/full-screen-att-slide-9-test.jpg" alt="">
		</div>
	</div>
</div>

<div data-role="page" id="slide36" class="vote-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 small-centered column">
				<h4>Which Test Won?</h4>
			</div>
		</div>
		<div class="row">
			<div class="small-6 small-centered column">
				<div class="row vote-wrap">
					<div class="small-6 column left-vote">
						<a href="#slide37" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-att-slide-9-control.jpg" width="" height="" alt="" data-choice="1" data-next-slide="#slide37"></a>
					</div>
					<div class="small-6 column right-vote">
						<a href="#slide37" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-att-slide-9-test.jpg" width="" height="" alt="" data-choice="2" data-next-slide="#slide37"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="small-2 right question-tracker">
				Question <span>9/12</span>
			</div>
		</div>
	</div>
</div>

<!-- SLIDE 10: ENERGY PRICING GRID REDESIGN -->
<div data-role="page" id="slide37" class="intro-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 column border-divider title">
				<h2>Internet Pricing Grid Test</h2>
			</div>
			<div class="small-6 column brief-description">
				<p>A brief description about the test and its intended objectives will go here. This is dummy text, obviously.</p>
				<div class="row">
					<div class="small-8 small-push-3">
						<a href="#slide38" data-transition="slide" data-next-slide="#slide39" data-second-slide="#slide40" class="button js-start-auto-slides">Continue <span></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /page -->

<!-- FULL-WIDTH SCREENSHOT 1 -->
<div data-role="page" id="slide38" class="screen-shot-full js-full-first slide-template">
	<img src="/assets/images/full-screen/full-screen-internet-slide-10-control.jpg" width="1024" height="768" alt="">
</div>

<!-- FULL-WIDTH SCREENSHOT 2 -->
<div data-role="page" id="slide39" class="screen-shot-full js-full-second slide-template">
	<img src="/assets/images/full-screen/full-screen-internet-slide-10-test.jpg" width="1024" height="768" alt="">
</div>

<div data-role="page" id="slide40" class="vote-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 small-centered column">
				<h4>Which Test Won?</h4>
			</div>
		</div>
		<div class="row vote-wrap">
			<div class="small-6 column left-vote">
				<a href="#slide41" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-internet-slide-10-control.jpg" width="470" height="360" alt="" data-choice="1" data-next-slide="#slide41"></a>
			</div>
			<div class="small-6 column right-vote">
				<a href="#slide41" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-internet-slide-10-test.jpg" width="470" height="360" alt="" data-choice="2" data-next-slide="#slide41"></a>
			</div>
		</div>
		<div class="row">
			<div class="small-2 right question-tracker">
				Question <span>10/12</span>
			</div>
		</div>
	</div>
</div>

<!-- SLIDE 11: DIRECTSTARTV TUTORIAL OVERLAY -->
<div data-role="page" id="slide41" class="intro-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 column border-divider title">
				<h2>DTV Tutorial Overlay</h2>
			</div>
			<div class="small-6 column brief-description">
				<p>A brief description about the test and its intended objectives will go here. This is dummy text, obviously.</p>
				<div class="row">
					<div class="small-8 small-push-3">
						<a href="#slide41" data-transition="slide" data-next-slide="#slide42" data-second-slide="#slide43" class="button js-start-auto-slides">Continue <span></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /page -->

<!-- FULL-WIDTH SCREENSHOT 1 -->
<div data-role="page" id="slide42" class="screen-shot-full js-full-first slide-template">
	<img src="/assets/images/full-screen/full-screen-dtv-slide-11-test.jpg" width="1024" height="768" alt="">
</div>

<!-- FULL-WIDTH SCREENSHOT 2 -->
<div data-role="page" id="slide43" class="screen-shot-full js-full-second slide-template">
	<img src="/assets/images/full-screen/full-screen-dtv-slide-11-control.jpg" width="1024" height="768" alt="">
</div>

<div data-role="page" id="slide44" class="vote-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 small-centered column">
				<h4>Which Test Won?</h4>
			</div>
		</div>
		<div class="row vote-wrap">
			<div class="small-6 column left-vote">
				<a href="#slide41" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-dtv-slide-11-test.jpg" width="470" height="360" alt="" data-choice="1" data-next-slide="#slide41"></a>
			</div>
			<div class="small-6 column right-vote">
				<a href="#slide41" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-dtv-slide-11-control.jpg" width="470" height="360" alt="" data-choice="2" data-next-slide="#slide41"></a>
			</div>
		</div>
		<div class="row">
			<div class="small-2 right question-tracker">
				Question <span>11/12</span>
			</div>
		</div>
	</div>
</div>

<!-- SLIDE 12: VERIZON MOBILE MODAL -->
<div data-role="page" id="slide45" class="intro-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 column border-divider title">
				<h2>Verizon Mobile Modal</h2>
			</div>
			<div class="small-6 column brief-description">
				<p>A brief description about the test and its intended objectives will go here. This is dummy text, obviously.</p>
				<div class="row">
					<div class="small-8 small-push-3">
						<a href="#slide46" data-transition="slide" data-next-slide="#slide47" data-second-slide="#slide48" class="button js-start-video-slide">Continue <span></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!-- /page -->

<!-- FULL-WIDTH SCREENSHOT 1 -->
<div data-role="page" id="slide46" class="screen-shot-full js-full-first slide-template">
	<div class="small-11 small-centered column">
		<img src="/assets/images/full-screen/full-screen-verizon-slide-12-control.jpg" width="1024" height="768" alt="">
	</div>
</div>

<!-- FULL-WIDTH SCREENSHOT 2 -->
<div data-role="page" id="slide47" class="screen-shot-full js-full-second slide-template">
	<div class="small-11 small-centered column">
		<img src="/assets/images/full-screen/full-screen-verizon-slide-12-test.jpg" width="1024" height="768" alt="">
	</div>
</div>

<div data-role="page" id="slide48" class="vote-slide slide-template">
	<div class="slide-content">
		<div class="row">
			<div class="small-6 small-centered column">
				<h4>Which Test Won?</h4>
			</div>
		</div>
		<div class="row">
			<div class="small-6 small-centered column">
				<div class="row vote-wrap">
					<div class="small-6 column left-vote">
						<a href="#slide49" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-verizon-slide-12-control.jpg" width="" height="" alt="" data-choice="1" data-next-slide="#slide49"></a>
					</div>
					<div class="small-6 column right-vote">
						<a href="#slide49" class="js-vote-choice"><img src="/assets/images/vote-thumbnails/thumb-verizon-slide-12-test.jpg" width="" height="" alt="" data-choice="2" data-next-slide="#slide49"></a>
					</div>
				</div>
				<div class="row">
					<div class="small-2 right question-tracker">
						Question <span>12/12</span>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="/assets/js/jquery.mobile-1.4.3.js"></script>
<script src="/assets/js/project.js"></script>