/* comparison table styles */

.comparison-table {
	border-radius: 8px;
	border: 1px solid #eee;
	font-size: 12px;
	text-align: center;
	color: #666;
	font-family: Arial;
	
	tr {
		
		&:nth-child(odd) {
			background-color: #fffeee;
		}
		&.highlight {
			background-color: #fffaa9;
		}
	}

	th:first-child,
	td:first-child {
		text-align: left;
		padding-left:20px;
		border-left: 0;
		font-weight: bold;
	}
	thead th {
		font-weight: bold;
		background-color: $purple;
		color: #fff;
		padding: 20px 10px 10px;
		border: 1px solid #5F4866;
	}
	
	td {
		border: 1px solid #ddd;
		padding: 20px 10px 10px;
	}
	
}//comparison-table
