.sidebar {
	@media #{$small-tablet} {
		display: none;
	}

	@media #{$desktop} {
		display: block;
	}

	.ie8 & {
		display: block;
	}
}//sidebar

.featured-providers {

	display: none;

	@media #{$desktop} {
		display: block;
		background: $sprites -1701px -1035px;
	}

	@media #{$large-desktop} {
		background: $sprites -2206px 0;
		height: 462px;
	}

	.ie8 & {
		display: block;
		background: $sprites -1701px -1035px;
	}

	.provider-slides {
		background: $purple;
		height: 180px;
		overflow: hidden;

		@extend %sidebar-content-box-styles;

		@media #{$large-desktop} {
			height: 320px;
			background: none;
			padding: 120px 50px 106px 80px;
		}
	}

	.metlife {
		top: 30px !important;
		left: 20px !important;

		@media #{$large-desktop} {
			top: 0 !important;
			left: 10px !important;
		}
	}

	.hartford {
		left: 50px !important;

		@media #{$large-desktop} {
			top: -20px !important;
			left: 40px !important;
		}
	}

	.safeco {
		top: 50px !important;
		left: 10px !important;

		@media #{$large-desktop} {
			top: 30px !important;
			left: 10px !important;
		}
	}

	.progressive {
		top: 60px !important;
		left: 15px !important;
		
		@media #{$large-desktop} {
			top: 30px !important;
			left: 10px !important;
		}
	}

	.travelers {
		top: 45px !important;
		left: 15px !important;

		@media #{$large-desktop} {
			top: 30px !important;
			left: 10px !important;
		}
	}

	.liberty {
		top: 20px !important;
		left: 20px !important;

		@media #{$large-desktop} {
			top: 0 !important;
			left: 10px !important;
		}
	}

	img {
		top: 10px;
		margin: 0 auto;
	}
}//featured-providers

.verified-secure {
	background: $sprites -1142px -777px;

	@media #{$large-desktop} {
		background: $sprites -2206px -506px;
		height: 462px;
	}

	.logos {
		background: #f0f0f0;
		@extend %sidebar-content-box-styles;

		@media #{$large-desktop} {
			background: none;
			padding: 100px 50px 106px 80px;
		}
 	}

 	img {
 		margin: 0 auto 20px auto;
 	}
}//verified-secure