.value-props {
	display:none;
	background: $yellow;
	padding: 40px 0;

	@media #{$desktop} {
		display: block;
	}

	p {
		color: $purple-interior;
	}

	[class^="box-"] {
		background: $sprites;
		text-align: center;
		padding: 92px 30px 0px 30px;
	}

	.customers {
		@media #{$desktop} {
			background-position: -740px -198px;
		}

		@media #{$large-desktop} {
			background-position: -708px -198px;
		}
	}

	.partners {
		@media #{$desktop} {
			background-position: -1060px 0;
		}

		@media #{$large-desktop} {
			background-position: -1042px 0;
		}
	}

	.prices {
		@media #{$desktop} {
			background-position: -1312px -191px;
		}

		@media #{$large-desktop} {
			background-position: -1277px -191px;
		}
	}

	.questions {
		@media #{$desktop} {
			background-position: -1620px 0;
		}

		@media #{$large-desktop} {
			background-position: -1590px 0;
		}
	}
}//value-props