// Project Styles
body {
	background: #ddd;
}

.gulp {
	background: #f00;
}

.watch {
	background: #ff0;
	color: #ccc;
	text-center: align;
}

.notify {
	font-stretch: semi-expanded;
	margin: 0;
	height: 0;
	width: 100%;
}

.browser-sync {
	width: 100%;
	margin-right: auto;
}

.makemeugly {
	p {
		color: green;
		text-align: center;
	}
}