// Project Fonts


// Below is an example of how a font would be created - REMOVE THIS LINE


// Create Font-face Fonts
//@include font-face-mixin('DINLight', '/assets/fonts/din', 'din-light');


// Create Extend for Each Font
//- use @extend %din-light;
//%din-light {
	//font-family: 'DINLight';
	//@include font-styles;
//}