// Project Fonts
//@include font-face-mixin('DINLight', '/assets/fonts/din', 'din-light');


// Create Extend for Each Font
//- use: @extend %din-light;
//%din-light {
	//font-family: 'DINLight';
	//@include font-styles;
//}

@include font-face(proxima-nova-extra-bold, '/assets/fonts/proxima/proxima-nova-regular', normal, normal);
@include font-face(proxima-nova-bold, '/assets/fonts/proxima/proxima-nova-bold', normal, normal);
@include font-face(proxima-nova-extra-bold, '/assets/fonts/proxima/proxima-nova-extra-bold', normal, normal);

.proxima-regular {
	font-family: 'proxima-nova-regular', sans-serif;
}

.proxima-bold {
	font-family: 'proxima-nova-bold', sans-serif;
}

.proxima-black {
	font-family: 'proxima-nova-extra-bold', sans-serif;
}