/********************************************************************************
			RESETS
********************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;
}
body { line-height: 1;}

ul { list-style: none;}

blockquote, q { quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none;}

a:active { outline: 0;}

sup, sub { position: relative; height: 0; line-height: 1; vertical-align: baseline !important; vertical-align: bottom;}
sup { bottom: .75ex;}
sub { top: .5ex;}

/* remember to define focus styles! */
:focus { outline: 0;}

/* remember to highlight inserts somehow! */
ins { text-decoration: none;}
del { text-decoration: line-through;}

/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0;}

/********************************************************************************
			GLOBAL STYLES
********************************************************************************/

body{font-family:Arial, Helvetica, sans-serif;font-size:13px;color:#333333;line-height:1.166;margin:0px;padding:0px;background:#FFFFFF;font-style:normal; background-image:url(../images/bg-homerater.jpg); background-repeat:repeat-x;}

/* links */
a:link, a:visited, a:hover{text-decoration:none;}
a:hover{text-decoration:underline;}

/* floats */
.float-left { float: left;}
.float-right { float: right;}
.clear { display: block; clear: both; height: 1px; font-size: 1px; line-height: 1px;}

/* typography */
p { margin: 15px 0;}

/* headers */
h1{font-family: Arial, Helvetica, sans-serif; font-size:25px; color:#FFFFFF; padding:15px 0 0 25px; margin: 0px;}
h2{font-size: 16px; color: #2f4096; padding: 15px 0px 5px 0px;}
h3 {}

/* errors */
.error { background: #da0000; font-weight: bold; font-size: 11px; line-height: 21px; color: #ffffff; text-align: center;}

/********************************************************************************
			WRAPPERS
********************************************************************************/

#wrapper{width:982px; margin:0px auto; }
.border{margin: 10px auto 20px auto; border: 1px solid #686868; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 0px 0px 2px 2px rgba(104, 104, 104, .3); -moz-box-shadow: 0px 0px 2px 2px rgba(104, 104, 104, .3); box-shadow: 0px 0px 2px 2px rgba(104, 104, 104, .3);}

/********************************************************************************
			HEADER
********************************************************************************/

#header{height:105px; margin-bottom:12px; width:986px; margin:0px auto;}

#header .logo{float:left;padding:10px 0px;}

#header .tollfree{color:#1180C2;width:450px;float:right;padding:10px 0 0 0;text-align:right;font-size:45px; font-weight:500; font-style:normal;text-shadow: 2px 1px #FFFFFF;}
#header .tagline{color:#666666;width:450px;float:right;text-align:right;font-size:17px; font-style:normal; font-weight:500;}

/********************************************************************************
			TABS
********************************************************************************/

#tab-nav{float:left; width: 100%;  -moz-border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px; border-bottom: 1px solid #fff;}
	.grey-gradient{background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #fefefe 14%, #fafafa 18%, #eeeeee 51%, #eaeaea 55%, #ebebeb 57%, #e6e6e6 61%, #e8e8e8 62%, #e2e2e2 71%, #e3e3e3 74%, #dbdbdb 92%, #d8d8d8 94%, #d7d7d7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(14%,#fefefe), color-stop(18%,#fafafa), color-stop(51%,#eeeeee), color-stop(55%,#eaeaea), color-stop(57%,#ebebeb), color-stop(61%,#e6e6e6), color-stop(62%,#e8e8e8), color-stop(71%,#e2e2e2), color-stop(74%,#e3e3e3), color-stop(92%,#dbdbdb), color-stop(94%,#d8d8d8), color-stop(100%,#d7d7d7));
background: -webkit-linear-gradient(top,  #ffffff 0%,#fefefe 14%,#fafafa 18%,#eeeeee 51%,#eaeaea 55%,#ebebeb 57%,#e6e6e6 61%,#e8e8e8 62%,#e2e2e2 71%,#e3e3e3 74%,#dbdbdb 92%,#d8d8d8 94%,#d7d7d7 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#fefefe 14%,#fafafa 18%,#eeeeee 51%,#eaeaea 55%,#ebebeb 57%,#e6e6e6 61%,#e8e8e8 62%,#e2e2e2 71%,#e3e3e3 74%,#dbdbdb 92%,#d8d8d8 94%,#d7d7d7 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#fefefe 14%,#fafafa 18%,#eeeeee 51%,#eaeaea 55%,#ebebeb 57%,#e6e6e6 61%,#e8e8e8 62%,#e2e2e2 71%,#e3e3e3 74%,#dbdbdb 92%,#d8d8d8 94%,#d7d7d7 100%);
background: linear-gradient(top,  #ffffff 0%,#fefefe 14%,#fafafa 18%,#eeeeee 51%,#eaeaea 55%,#ebebeb 57%,#e6e6e6 61%,#e8e8e8 62%,#e2e2e2 71%,#e3e3e3 74%,#dbdbdb 92%,#d8d8d8 94%,#d7d7d7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d7d7d7',GradientType=0 );
}
#tab-nav li{float: left; margin: 10px 0px;}
#tab-nav a{float:left; font-family: Arial, Helvetica, sans-serif; font-size:30px; font-weight: bold; margin: 0px; text-decoration: none; padding-left: 15px;}
.tabAnchor{color: #7A91AA; text-shadow: 0px 2px 0px #ffffff;}
	.activeTab{color:#012E60;}
.tabAnchor span{color:#878787; text-shadow: 0px 1px 0px #ffffff;}
	.activeTab span{color: #333;}
	
	#stepOne { width:993px; height:376px; background-image:url(/images/banner-ppc.png); background-repeat:no-repeat; margin:0; padding:0;}
	

	#stepTwo {padding: 30px;}
		#stepTwo h2{color: #000; font-size: 20px; font-weight: normal; padding: 0px 0px 15px 0px;}
		#stepTwo h3{color: #666; font-size: 16px; font-weight: bold;}
		#stepTwo .content{width: 545px; margin-bottom: 40px;}
	.formbox{ background: none repeat scroll 0 0 #D5E2F7; border: 1px solid #CCCCCC; margin: 10px 0px; padding: 10px 5px 18px 4px;}
	.formbox td{padding: 3px;}
	
	#stepOneLink{border-right: 1px solid #fff; padding-right: 100px;}
	#stepTwoLink{border-left: 1px solid #333; border-right: 1px solid #fff; padding-right: 80px;}
	#stepThreeLink{border-left: 1px solid #333;}
	
	#stepThree {padding: 30px;}
		#stepThree h2{color: #000; font-size: 20px; font-weight: normal; padding: 0px 0px 15px 0px;}
		#stepThree h3{color: #666; font-size: 16px; font-weight: bold;}
		#stepThree .content{width: 545px; margin-bottom: 40px;}
		#stepThree .phone{color: #F99500; font-size: 25px; font-weight: bold;}
		.phone-promo .referenceID{text-align: right; font-weight: bold;}
		.matched-rates{position:relative; background: url(/images/matched-rates.png) no-repeat 0px 0px; width:780px; height: 235px; margin: 20px auto;}
		.rates-msg{position: absolute; top:60px; left: 230px; width: 370px;}
			.rates-msg p{font-size: 15px;}
			.rates-modals{position: absolute; top:15px; left:652px;}
			.rates-modals li{margin: 21px 0px;}
		.rates-contact{width: 370px; text-align: center;}
			.rates-contact .phone, .rates-contact .modal-anchor{float:left; width:50%;}
			.rates-contact .referenceID{margin: 5px 0px; font-weight: bold;}
#tab-nav span{font-size: 20px; font-weight: normal;}
#tab-wrapper{background: #fff;}
.tab{display: none;}
	.tab h2{color: #2F4096; font-size: 16px; padding-bottom: 5px;}
	
/********************************************************************************
			MAIN NAV
********************************************************************************/

.main_nav {}
	.main_nav li {}
	.main_nav a {}
	.main_nav a:hover {}

/********************************************************************************
		 	CONTENT
********************************************************************************/

#partner{margin-bottom: 10px;}

#status{ width:993px; height:85px;}

#quoteMe { margin:20px 0 0 25px; width:397px; height:208px; border: 3px solid #2C517B; -webkit-border-radius: 5px;
-moz-border-radius: 5px; }
#quoteMe .submit{position: relative; top:10px; left: 47px;}

.form-gradient{background: #6bb8e6;
background: -moz-linear-gradient(top,  #6bb8e6 0%, #69b5e7 3%, #67b5e3 4%, #60b2e4 7%, #5fb1e1 8%, #58afe4 11%, #4ca7de 19%, #45a5e1 22%, #3d9fdc 28%, #359fdd 31%, #329cda 34%, #2898da 38%, #2a97dc 39%, #2294da 43%, #1089d0 52%, #1389d1 55%, #1288d0 57%, #1187cd 58%, #1285c8 73%, #107fc4 83%, #107cbc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bb8e6), color-stop(3%,#69b5e7), color-stop(4%,#67b5e3), color-stop(7%,#60b2e4), color-stop(8%,#5fb1e1), color-stop(11%,#58afe4), color-stop(19%,#4ca7de), color-stop(22%,#45a5e1), color-stop(28%,#3d9fdc), color-stop(31%,#359fdd), color-stop(34%,#329cda), color-stop(38%,#2898da), color-stop(39%,#2a97dc), color-stop(43%,#2294da), color-stop(52%,#1089d0), color-stop(55%,#1389d1), color-stop(57%,#1288d0), color-stop(58%,#1187cd), color-stop(73%,#1285c8), color-stop(83%,#107fc4), color-stop(100%,#107cbc));
background: -webkit-linear-gradient(top,  #6bb8e6 0%,#69b5e7 3%,#67b5e3 4%,#60b2e4 7%,#5fb1e1 8%,#58afe4 11%,#4ca7de 19%,#45a5e1 22%,#3d9fdc 28%,#359fdd 31%,#329cda 34%,#2898da 38%,#2a97dc 39%,#2294da 43%,#1089d0 52%,#1389d1 55%,#1288d0 57%,#1187cd 58%,#1285c8 73%,#107fc4 83%,#107cbc 100%);
background: -o-linear-gradient(top,  #6bb8e6 0%,#69b5e7 3%,#67b5e3 4%,#60b2e4 7%,#5fb1e1 8%,#58afe4 11%,#4ca7de 19%,#45a5e1 22%,#3d9fdc 28%,#359fdd 31%,#329cda 34%,#2898da 38%,#2a97dc 39%,#2294da 43%,#1089d0 52%,#1389d1 55%,#1288d0 57%,#1187cd 58%,#1285c8 73%,#107fc4 83%,#107cbc 100%);
background: -ms-linear-gradient(top,  #6bb8e6 0%,#69b5e7 3%,#67b5e3 4%,#60b2e4 7%,#5fb1e1 8%,#58afe4 11%,#4ca7de 19%,#45a5e1 22%,#3d9fdc 28%,#359fdd 31%,#329cda 34%,#2898da 38%,#2a97dc 39%,#2294da 43%,#1089d0 52%,#1389d1 55%,#1288d0 57%,#1187cd 58%,#1285c8 73%,#107fc4 83%,#107cbc 100%);
background: linear-gradient(top,  #6bb8e6 0%,#69b5e7 3%,#67b5e3 4%,#60b2e4 7%,#5fb1e1 8%,#58afe4 11%,#4ca7de 19%,#45a5e1 22%,#3d9fdc 28%,#359fdd 31%,#329cda 34%,#2898da 38%,#2a97dc 39%,#2294da 43%,#1089d0 52%,#1389d1 55%,#1288d0 57%,#1187cd 58%,#1285c8 73%,#107fc4 83%,#107cbc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bb8e6', endColorstr='#107cbc',GradientType=0 );
}
#quoteMe h2{font-size: 28px; color: #012e60; padding: 15px 0px 5px 20px; text-shadow: 0px 1px 0px #76C9FC;}

#fields { width:325px; text-align:right; }
#fields label{ font-family:Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#FFFFFF; padding:0 15px 0 0;}
#fields input { font-size:18px; width:105px; margin-bottom:10px; vertical-align:middle;}
#fields select {font-size:18px; width:110px; vertical-align:middle;}

.getquotes{float:right; margin:15px 17px 0 0;}

.popup {position:relative; color: #069; font-weight: bold;}
.popup div{display: none; position:absolute; background: #fff; border: 2px solid #666; padding: 10px; line-height: 16px; width:400px; color: #000; font-weight: normal; z-index: 99999;}

.content{float: left;}
.sidebar{float: right; width: 340px;}

.live-help{background-color: #F3F3F3; border: 1px solid #D5E2F7; float: right; margin: 28px 0px 10px 10px; padding: 15px 0 0; position: relative; width: 320px;}
.live-help div{margin: 5px 0px;}
.live-help img{padding: 10px 0 10px 105px;}
.live-help .title{color: #000000; font-family: Arial,Helvetica,sans-serif; font-size: 22px; text-align: center;}
.live-help .phone-title{font-size: 15px; text-align: center;}
.live-help .phone{color: #000000; font-size: 26px; text-align: center;}

.secbox{float:right; width:320px; border: 1px solid #D5E2F7;}
.secbox .header{background-color: #F5F5F5;border-bottom: 1px solid #ccc; color: #333333; font-size: 13px; padding:10px 0px; text-align: center;}

/* SimpleModal Styles */
/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

.simplemodal-wrap{background-color: #f5f5f5;}
/* Container */
.simplemodal-container {width:630px; color:#bbb; background-color:#fff; border:4px solid #666;}
.simplemodal-container .simplemodal-data {}
.simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
.simplemodal-container a {color:#ddd;}
.simplemodal-container a.modalCloseImg {background:url(/images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
.simplemodal-container h3 {color:#84b8d9;}

.modal-form{display: none;}
.modal-header{border-bottom:5px solid #666; background: #fff;}
.agent{position: relative; top:23px;}

.form-wrap{padding: 8px 5px; background: #f3f3f3; height: 325px;}
.contact_form{margin: 20px 0px;}
.form-body{width: 360px; margin: 10px auto;}
.form-submit{margin: 20px 0px 15px 0px;}
.contact_form label{font-size: 16px; line-height: 22px; color: #000;}
.contact_form label span{font-size: 10px; color: #333;}
.contact_form .form-btn-bkg{background: url(/images/agent-click-call-button-bg.jpg); padding: 10px 0px;}


.mainContent { padding: 0 10px 10px}
.mainContent h1 {color: #012E60; padding: 0; }
.mainContent p { line-height: 17px}
.mainContent ul li { list-style: disc outside; margin-left: 20px; padding: 0 0 10px 5px}

/********************************************************************************
			FOOTER
********************************************************************************/

#footer{ margin: 10px 0px;}
#footer a{color: #333;}
#footer a:hover{text-decoration: underline;}
#footer .copyright { font-family:Arial, Helvetica, sans-serif; font-size:11px; float:left; padding:15px 0 0 10px; line-height:14px;}
#secure .verisign{float:right;vertical-align:middle; margin-right:5px;}
#secure #mcafee{float:right; padding-top:15px; margin-right:10px; vertical-align:middle;}
#secure #bbb{float: right; margin-right: 10px; padding-top: 18px;}

.legal{padding: 0px 10px;}

/********************************************************************************
			GEO 3
********************************************************************************/

.geo table { width: 100%; margin: 15px 0;}
	.geo td { width: 25%; line-height: 2;}

/********************************************************************************
			CLEARING ELEMENTS THAT CONTAIN FLOATED ELEMENTS
********************************************************************************/

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */