// Base Default Styles


// Base Defaults
body {
	// styles
}


// Links 
a {
	// styles
}
a:hover	{
	// styles
}
.h-phone a {
	color: inherit; // for mobile turning phone #s into links
	cursor: default; // so it doesn't look like a link on desktop
}


// Headlines 
h1 {
	// styles
}


// Paragraphs
p {
	// styles
}


// Lists
ul {
	// styles
}

// Forms
input[type="text"] {
	// styles
}