// Base Default Styles


// Base Defaults
body {
	@include OpenSans;
}

.right {
	float: right;
}

.left {
	float: left;
}

hr {
	height: 2px;
	border: none;
}

// Links 
a {
	// styles
}
a:hover	{
	// styles
}
.h-phone a {
	color: inherit; // for mobile turning phone #s into links
	cursor: default; // so it doesn't look like a link on desktop
}


// Headlines 
h1 {
	// styles
}


// Paragraphs
p {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
}


// Lists
ul {
	// styles
}

// Forms
input[type="text"] {
	// styles
}

small {
	font-size: 10px;
}
sup {
	vertical-align: super;
	font-size: 80%;
}